@model IEnumerable<UMS.Entity.Item>
@using UMS.Entity

@{
    IEnumerable<Category> categoryList = (IEnumerable<Category>) ViewBag.categoryList;
}
@{
    ViewBag.Title = "MenuList";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
<div class="col-md-9 admin_right" style="padding-bottom: 1.2%;">
<div class=row>
<div class="col-md-3">
    <div class="add-food">
        <h3 class="text-center">Add Food</h3>
        <form method="post"> 
            Food Name:
            <br>
            <input type="text" name='foodname'>
            <br>
            <br> Category:
            <br>
            <select class="selectpicker" data-live-search="true" name='category'>
    <option disabled="disabled" selected="selected">Select.....</option>
            @foreach (var category in categoryList)
            {
                <option value="@Html.DisplayFor(modelItem => category.Id)">@Html.DisplayFor(modelItem => category.name)</option>
            }
                

            </select>
            <br>
            <br> Food Details:
            <br>
            <input type="text">
            <br>
            <br> Price:
            <br>
            <input type="text" name='Price'>
            <br>
            <br>
            Image:
            <br>
            <input type="file">
            <br>
            <br>
            <input type="submit">
        </form>
    </div>
</div>
<div class="col-md-9">
<div class="view-food text-center">
<h3>Food List</h3>
<hr>
<table width="100%" cellpadding="10">
    <tr>
        <td>Image</td>
        <td>Food Name </td>
        <td>Category</td>
        <td>Food Details</td>
        <td>Price</td>
        <td>Discount</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td><img src="http://www.mcdonaldsindia.net/images/large/maharaja-mac-nonveg.png" width="70"></td>
            <td>@Html.DisplayFor(modelItem => item.name) </td>
            <td>@Html.DisplayFor(modelItem => item.Category.name)</td>
            <td>Food Details</td>
            <td>@Html.DisplayFor(modelItem => item.price)</td>
            <td>@Html.DisplayFor(modelItem => item.Promotion.discountRate)</td>
            <td>
                <form>
                    <input type="submit" value="Edit">
                </form>
            </td>
            <td>
                <form>
                    <input type="submit" value="Delete">
                </form></td>
        </tr>
    }

               
              
              
</table>
</div>
</div>
</div>
      
      
      
      
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>