@model IEnumerable<UMS.Entity.Item>
@using System.Web.Optimization
@using UMS.Entity

@{
    IEnumerable<Category> categoryList = (IEnumerable<Category>) ViewBag.categoryList;
}
@{
    ViewBag.Title = "MenuList";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
@Styles.Render("~/Content/CSS/AdminStyle/editDelete.css")

<div class="col-md-9 admin_right" style="padding-bottom: 1.2%;">
<div class=row>
<div class="col-md-3">
    <div class="add-food">
        <h3 class="text-center">Add Food</h3>
        <form method="post"> 
            Food Name:
            <br>
            <input type="text" name='foodname'>
            <br>
            <br> Category:
            <br>
            <select class="selectpicker" data-live-search="true" name='category'>
    <option disabled="disabled" selected="selected">Select.....</option>
            @foreach (var category in categoryList)
            {
                <option value="@Html.DisplayFor(modelItem => category.Id)">@Html.DisplayFor(modelItem => category.name)</option>
            }
                

            </select>
            <br>
            <br> Food Details:
            <br>
            <input type="text">
            <br>
            <br> Price:
            <br>
            <input type="text" name='Price'>
            <br>
            <br>
            Image:
            <br>
            <input type="file">
            <br>
            <br>
            <input type="submit">
        </form>
    </div>
</div>
<div class="col-md-9">
<div class="view-food text-center">
    <h3>Food List</h3>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
<hr>
<table width="100%" cellpadding="10" id="myTable">
    <tr>
        <td>Image</td>
        <td>Food Name </td>
        <td>Category</td>
        <td>Food Details</td>
        <td>Price</td>
        <td>Discount</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td><img src="http://www.mcdonaldsindia.net/images/large/maharaja-mac-nonveg.png" width="70"></td>
            <td>@Html.DisplayFor(modelItem => item.name) </td>
            <td>@Html.DisplayFor(modelItem => item.Category.name)</td>
            <td>Food Details</td>
            <td>@Html.DisplayFor(modelItem => item.price)</td>
            <td>@Html.DisplayFor(modelItem => item.Promotion.discountRate)</td>
            <td>
                <a href="/Admin/EditMenuList?itemId=@Html.DisplayFor(modelItem => item.Id) "><button type="button" class="btn btn-info btn-pos">Edit</button></a>
                @*<button type="button" data-toggle="modal" data-target="#edit" data-value="@Html.DisplayFor(modelItem => item.Id)" class="btn btn-info btn-pos editItem">Edit</button>*@
            </td>
            <td>
                <a href="/Admin/DeleteItem?itemId=@Html.DisplayFor(modelItem => item.Id)"><button type="button" class="btn btn-warning btn-pos">Delete</button></a>
            </td>
        </tr>
    }

               
              
              
</table>
</div>
</div>
</div>
    
    


    <div id="edit" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Food</h4>
                    <button type="button" class="close" data-dismiss="modal" style="margin-top: -5%;">&times;</button>
                </div>
                <div id="editmodalbody" class="modal-body">
                    <form>
                        <lable>Food Name:</lable>
                        <input type="text" class="form-control">

                        <lable>Category:</lable>

                        <input type="text" class="form-control">
                        <lable>Food Details:</lable>

                        <input type="text" class="form-control">

                        <lable>Price:</lable>

                        <input type="text" class="form-control">


                        <lable>Discount:</lable>
                        <br>
                        <input type="text" class="form-control">

                        <lable>Image:</lable>
                        <br>
                        <input type="file" class="form-control">
                        <br>

                        <input type="submit" name="" id="save" value="Save" class="btn btn-success" />
                        <button type="button" class="btn btn-warning" data-dismiss="modal" id="cancel">Cancel</button>
                    </form>
                </div>


            </div>
        </div>
    </div>

    <div id="delete" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Food</h4>
                    <button type="button" class="close" data-dismiss="modal" style="margin-top: -5%;">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <h4><strong>Food Name:</strong> Beef Burger</h4>

                        <br>
                        <h4><strong>Category:</strong> Burger</h4>

                        <br>
                        <h4><strong>Food Details:</strong> Food details</h4>


                        <br>
                        <h4><strong>Price:</strong> 250 TK</h4>

                        <br>

                        <h4><strong>Discount:</strong> 10%</h4>

                        <br>

                        <h4><strong>Image:</strong> image location</h4>


                        <br>

                        <input type="submit" name="" id="delete-btn" value="Delete" class="btn " />
                        <button type="button" class="btn btn-info" data-dismiss="modal" id="cancel">Cancel</button>
                    </form>
                </div>


            </div>
        </div>
    </div>

      
      
      
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
<script>
    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
      
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>